<%- include("partials/_header.ejs") %>
            <div class="col-8">
                <h2>
                    <span>
              <a href="index.html">Anasayfa</a>
            </span>
                </h2>
                <hr />
                <div class="main-content">
                    <form action="">
                        <textarea style="text-align: center; font-size: 25px" name="message" id="message" rows="10" placeholder="PAYLAŞIM YAPMAK İÇİN GİRİŞ YAPINIZ!"></textarea>
                        <div class="send">
                            <div class="camera">
                                <label for="file-input">
                    <i class="fa fa-camera"></i>
                  </label>
                                <input id="file-input" type="file" />
                            </div>
                            <div class="camera">
                                <label for="file-input">
                    <i class="fa fa-image icon"></i>
                  </label>
                                <input id="file-input" type="file" />
                            </div>
                            <div class="camera">
                                <label for="file-input">
                    <i class="fa fa-file-pdf"></i>
                  </label>
                                <input id="file-input" type="file" />
                            </div>
                            <button class="button1">Sorcele</button>
                        </div>
                    </form>
                </div>
                <hr />
                <i class="fa-solid fa-block-question"></i>
                <h1>Sorular</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <h2>Bölümü</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus ullam eaque eius officiis sunt, ea rerum tempora. Iure obcaecati odio neque praesentium! Ipsa quos ea voluptatibus vitae quia quam consequatur?
                </p>
            </div>
            <%- include("partials/_footer.ejs") %>