<%- include("partials/_header.ejs") %>
      <div class="col-8">
        <h2>
          <span>
          <a href="mesajlar.html">Mesajlar</a>
          </span>
        </h2>
        <hr>
        
        
      </div>
      <%- include("partials/_footer.ejs") %>