<%- include("partials/_header.ejs") %>
      <div class="col-8">
        <h2>
          <span>
          <a href="profil.html">Profil</a>
          </span>
        </h2>
        <hr>
        <div class="profil-photos">
        <img class="kapak-foto" src="images/kapak-foto.jpg" alt="" width="100%" height="100vh">
        <img class="profil-foto" src="images/profil.jpg" alt="">
        <div class="profil-bilgi">
        <h2>Atakan Erkan</h2>
        <p>@atakan.erkan</p>
        <p>Dumlupınar Üniversitesi</p>
        <p>Bilgisayar Mühendisliği</p>
        </div>
        </div>
        <hr>
        <h2>Benim Sorduğum Sorular</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rerum maiores provident, similique cumque voluptatibus perferendis, quo eaque harum, consequatur culpa a? Quasi cum similique laudantium voluptatum maiores vero quisquam sapiente!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo consequatur dolorem accusantium, animi a ipsa sapiente placeat earum adipisci, itaque aperiam nobis aut tempore! Repellat a dolorum fugit repudiandae architecto.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo consequatur dolorem accusantium, animi a ipsa sapiente placeat earum adipisci, itaque aperiam nobis aut tempore! Repellat a dolorum fugit repudiandae architecto.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo consequatur dolorem accusantium, animi a ipsa sapiente placeat earum adipisci, itaque aperiam nobis aut tempore! Repellat a dolorum fugit repudiandae architecto.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo consequatur dolorem accusantium, animi a ipsa sapiente placeat earum adipisci, itaque aperiam nobis aut tempore! Repellat a dolorum fugit repudiandae architecto.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo consequatur dolorem accusantium, animi a ipsa sapiente placeat earum adipisci, itaque aperiam nobis aut tempore! Repellat a dolorum fugit repudiandae architecto.</p>
      </div>
      <%- include("partials/_header.ejs") %>
